{% extends 'base.html' %}

{% block content %}
<h1>About Page<h1>
<p> This is a Template </p>
<p>
	{{ my_text }}, {{ my_number }}
	{{ my_list }}
</p>

<ul>
	{% for my_sub_item in my_list %}
	  <li> {{ forloop.counter }} {{ my_sub_item }} </li>
	{% endfor %}
</ul>

{% endblock %}